<h1>WELCOME HTML</h1>
<body>
<a href="/">HOME</a><br>
<a href="/location">LOCATION</a><br>
<a href="/image">IMAGE</a><br>
<a href="/user">USER</a><br>

{{!-- File you want to display will go in 3 braces --}}
{{{content}}}

</body>